nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        width: 350px;
        display: flex;
        height: 112px;
        justify-content: space-around;
        align-items: center;
        >a {
            &:hover {
                color: #CD5C5C;
            }
        }
        >.phone-number {
            background-color: #9F0908;
            text-align: center;
            color: white;
            border-style: solid;
            border-radius: 15px;
            padding: 12px 12px;
        }
    }
}

a {
    text-decoration: none;
    color: whitesmoke;
}
