<section>
    <div class="footer">
        <div class="footer-range">
            <div>
                <img class="sakura-footer-logo" src="../../../../assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png">
            </div>

            <div class="social-media">
                <a href="https://www.tripadvisor.com" target="_blank">
                    <img src="../../../../assets/img/5_section_footer/PNG/tripadvisor_logo.png" class="social-media-button">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../../../../assets/img/5_section_footer/PNG/facebook_logo.png" class="social-media-button">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../../../../assets/img/5_section_footer/PNG/instagrram_logo.png" class="social-media-button">
                </a>
            </div>
        </div>
    </div>
</section>
