<div class="menu">
    <h2>OUR MENU</h2>
    <div class="our-menu">
        <!-- tonkotsu -->
        <div class="tonkotsu">
            <img class="food-logo-left" src="./../../../assets/img/3_section_our_menu/Png/R1.png">
            <table>
                <tbody>
                    <tr>
                        <th class="table-headline">Tonkotsu Ramen</th>
                    </tr>
                    <tr class="topics-price">
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr class="topics-price">
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr class="topics-price">
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- spicy miso  -->
        <div class="spicy">
            <table>
                <tbody>
                    <tr>
                        <th class="table-headline">Spicy Miso Ramen</th>
                    </tr>
                    <tr class="topics-price">
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr class="topics-price">
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr class="topics-price">
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
            <img class="food-logo-right" src="./../../../assets/img/3_section_our_menu/Png/R2.png">
        </div>

        <!-- shio -->
        <div class="shio">
            <img class="food-logo-left" src="./../../../assets/img/3_section_our_menu/Png/R3.png">
            <table>
                <tbody>
                    <tr>
                        <th class="table-headline">Shio Ramen</th>
                    </tr>
                    <tr class="topics-price">
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr class="topics-price">
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr class="topics-price">
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
